name: Run Custom Identity Script

on: 
  workflow_dispatch: # 允许手动点击按钮触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Check Files
        run: |
          ls -l
          if [ ! -f "old.bin" ]; then echo "Error: old.bin not found!"; exit 1; fi
          if [ ! -f "623.8.1.bin" ]; then echo "Error: 623.8.1.bin not found!"; exit 1; fi

      - name: Run Hybrid Script
        # 运行你刚才上传的拼接脚本
        run: python custom_identity.py

      - name: Upload Hybrid Firmware
        uses: actions/upload-artifact@v4
        with:
          name: Hybrid-Ultimate-Firmware
          # 这里必须和你脚本里生成的 OUTPUT 文件名一致
          path: hybrid_custom_mac_sn.bin 
          compression-level: 0
