name: Unlock Firmware

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Run Key Fix Script
        run: python key_fix.py

      - name: Upload Unlocked Firmware
        uses: actions/upload-artifact@v4
        with:
          name: Unlocked-Firmware
          # 这里必须改成 safe 版的文件名，否则你会下载失败！
          path: magic_623.bin 
          compression-level: 0
